html,
body {
    height: 100%;
    /* padding-top: 30px; */
}

/* Helpers */
.left { text-align: left !important; }
.right { text-align: right !important; }
.center { text-align: center !important; }
.top-10 { margin-top: 10px !important; }
.round-corners { border-radius: 5px !important; }
